.friendListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    margin-right: 10px;
  }
  
  .name {
    font-size: 16px;
  }
  
  .online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
  }
  
  .offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
  }
  